$rose: #ffe4eb;
$bleuclair: #b0feff;
$bleu: #00f;

body {
  background-color: $rose;
  color: $bleu;
}

div.header {
  color: $bleuclair;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}
