@media (min-width: 800px) {
  body.index {
    div.images {
      min-height: 1000px;
      width: 100%;
      max-width: 1100px;
      margin: auto;
      position: relative;
      top: -170px;
      left: -40px;
    }

    div.swapImage {
      position: absolute;

      img {
        width: 100%;
      }
    }
  }
}


@media (max-width: 800px) {
  body.index {
    div.swapImage {
      width: 100% !important;
      display: inline-block;
  
      .right {
        float: right;
      }
  
      .left {
        float: left;
      }
  
      img {
        width: 60%;
      }
    }
  }
}

div#preload { display: none; }