@media (min-width: 800px) {
  body.index {
    div.images {
      min-height: 1000px;
      width: 100%;
      max-width: 1100px;
      margin: auto;
      position: relative;
      top: -170px;
      left: -40px;
    }

    div.swapImage {
      position: absolute;

      img {
        width: 100%;
      }
    }
  }
}


@media (max-width: 800px) {
  body.index {
    div.swapImage {
      width: 100% !important;
      display: inline-block;
  
      .right {
        float: right;
      }
  
      .left {
        float: left;
      }
  
      img {
        width: 60%;
      }
    }
  }
}


#preload-01 { background: url("../static/images/index/sauvages.png") no-repeat -9999px -9999px; }
#preload-02 { background: url("../static/images/index/veillee.png") no-repeat -9999px -9999px; }
#preload-03 { background: url("../static/images/index/vues.png") no-repeat -9999px -9999px; }
#preload-04 { background: url("../static/images/index/grospied.png") no-repeat -9999px -9999px; }
#preload-05 { background: url("../static/images/index/totem.png") no-repeat -9999px -9999px; }
#preload-06 { background: url("../static/images/index/four.png") no-repeat -9999px -9999px; }
#preload-07 { background: url("../static/images/index/coco.png") no-repeat -9999px -9999px; }
#preload-08 { background: url("../static/images/index/amulettes.png") no-repeat -9999px -9999px; }
#preload-09 { background: url("../static/images/index/querelles.png") no-repeat -9999px -9999px; }
#preload-10 { background: url("../static/images/index/pierres.gif") no-repeat -9999px -9999px; }
#preload-11 { background: url("../static/images/index/souvenirs.png") no-repeat -9999px -9999px; }
#preload-12 { background: url("../static/images/index/melonfesse.png") no-repeat -9999px -9999px; }