@media (min-width: 800px) {
  div.infos {
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    // margin-left: 150px;
  }
}

@media (max-width: 800px) {
  div.infos {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
