@media (min-width: 800px) {
    body.querelles {
        div.row {
            width: 100%;
            max-width: 1100px;
            margin: auto;
            margin-bottom: 20px;
            // overflow: auto;
            display: flex;
            justify-content: space-between;
        }

        img {
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    body.querelles {
        margin: 20px;

        div.row {
            width: 100%;
            // padding-bottom: 20px;
            display: inline-block;
            // overflow: auto;
            
            .column {
                width: 100% ! important;
                margin: 0px ! important;
                padding-bottom: 20px;
            }
        }

        div.silhouette {
            padding-left: 20% ! important;
            padding-right: 20% ! important;
        }

        img {
            width: 100% ! important;
            height: 100% ! important;
            margin-right: 0px ! important;
            margin-left: 0px ! important;
            // padding-bottom: 20px ! important;
        }
    }
}
